@import 'tailwindcss';

@theme {
    --color-background: #f3f4f6;
    --color-text: #1f2937;
    --color-detail-mint: #10b981;
    --color-detail-yellow: #facc15;
    --color-detail-red: #ef4444;
    --color-primary-dark: #1e40af;
    --color-primary: #3b82f6;
    --color-primary-light: #93c5fd;
    --text-h1: 48px;
    --text-h2: 36px;
    --text-h3: 30px;
    --text-h4: 20px;
    --text-p: 18px;
}
